.NSS {
  padding: 2%;
  .hr {
    width: 95vw;
    margin: 0 auto;
    height: 0.2rem;
    background-color: #2e3192;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.3rem;
    text-align: justify;
  }
}

.nss-col {
  img {
    height: 60%;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #2e3192;
}

.nss-row {
  width: 95vw;
  margin: auto;
}

.content-nss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  margin: auto;
  text-align: center;

  font-family:"Calibri";
  font-style: normal;
  font-weight: 500;

  h1,
  h3 {
    color: #216FDB;
    text-decoration: 0.15rem underline;
  }
}

.programs {
  width: 95vw;
  margin: 2rem auto;
}

.program {
  font-family:"Calibri";
  font-style: normal;
  font-weight: normal;
  width: 45%;

  margin-bottom: 2rem;

  h3 {
    color: #216FDB;
    text-decoration: 0.15rem underline;
  }

  ul {
    li {
      list-style: disc;
      font-size: 1.3rem;
    }
  }
}

.NSSboxes {
  width: 90%;
  margin: auto;
  .NSSbox {
    width: 18rem;
    height: 18rem;
    border: 2px solid #216FDB;
    margin: 0 1rem;
    object-fit: cover;
    img{
      height: 100%;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 990px) {
  .nss-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem auto;

    .nss-col {
      width: 100%;
      margin: 1rem 0;
    }
  }

  .programs {
    flex-direction: column;
    .program {
      width: 100%;
    }
  }

  .NSSboxes {
    .NSSbox {
      margin: 1rem 0;
    }
  }
}
