.onlinepay-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 4% 0;
}

.green-box {
  height: 34rem;
  width: 10%;
  background-color: #216fdb47;
}

.onlinepay {
  font-family:"Calibri";
  padding: 4% 10%;
  width: 80%;
  border: 2px #216FDB solid;
  border-radius: 10px;
  padding: 1% 14%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  h1 {
    color: #216fdb47;
    text-align: center;
  }

  hr {
    border: 2px solid #216fdb47;
    width: 120%;
  }
}

span {
  color: #216FDB;
  font-size: 1.5rem;
}

.two-item-flex {
  display: flex;
  justify-content: space-between;
  align-self: normal;
}

.two-item-flex > div {
  width: 40%;
}

//-----------------Media Query For Phon Size--------------
@media only screen and (max-width: 600px) {
  .onlinepay {
    padding: 5%;
    hr {
      width: 100%;
    }
  }

  .green-box {
    display: none;
  }

  .onlinepay {
    width: 100%;
    border: none;
  }
}
