.aboutHead {
  font-family:"Calibri";
  color: #216FDB;
  h1 {
    margin: 2rem auto;
    text-decoration: underline;
    text-align: center;
  }
}

// @media only screen and (max-width:1600px){
//     .PrincipalMsg{
//         .message{
//             margin-left: 22rem;
//         }
//     }
// }
