#About {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  h1 {
    background: #216FDB;
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 0;
    text-decoration: none;
  }
}

.row{
  width: 100%;
}

.box1 {
  p {
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    text-align: justify;
  }
  border: 0.1rem solid #216FDB;
  margin: 2rem 2rem;

  width: 33%;
}

.box2 {
  p {
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    text-align: justify;
  }
  border: 0.1rem solid #216FDB;
  margin: 2rem 2rem;
}

.boxes {
  display: flex;
  flex-direction: row;
  // .div {
  //   width: 60%;
  //   margin: 2rem;
  // }

  ul {
    padding: 1.5rem 4rem;
    font-size: 1.1rem;
    list-style: square;
    align-items: center;
  }
  // margin: 0rem 8rem 5rem 8rem;
}

#clgAddress {
  text-align: center;
  ul {
    list-style: none;
  }
}

@media only screen and (max-width: 990px) {
  .boxes {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    .box1{
      width: 90%;
    }
  }
}
